<div id="_delete-category">
    <h1>Delete From...</h1>
    <ul>
        <li><a href="/manage/delete?category=acrylic">Acrylic</a></li>
        <li><a href="/manage/delete?category=chalk">Chalk</a></li>
        <li><a href="/manage/delete?category=charcoal">Charcoal</a></li>
        <li><a href="/manage/delete?category=graphite">Graphite</a></li>
        <li><a href="/manage/delete?category=marker">Marker</a></li>
        <li><a href="/manage/delete?category=mixed_media">Mixed Media</a></li>
        <li><a href="/manage/delete?category=mural">Mural</a></li>
        <li><a href="/manage/delete?category=oil">Oil</a></li>
        <li><a href="/manage/delete?category=misc">Misc</a></li>
    </ul>
</div>