<div id="aboutpage">
    <h1>Bryce D. Cox</h1>
    <img id="aboutpic" src="images/about.jpg">
    <p>
        &emsp;I view art as an escape from all stress. It has been a lifelong passion and hobby of mine. When working on projects, I attempt to capture moments and memories meaningful to those who view or own my artwork.
        <br/><br/>
        &emsp;Raised in Mount Vernon, IA, I am now a current student at the University of Northern Iowa. I am currently majoring in elementary education and minoring in science education (K-8). I am a member of the UNI Varsity Men’s Glee Club, the SingPins a Capella ensemble, and have a variety of interests in sports, theatre, music, art, and much more.
        <br/><br/>
        &emsp;In high school, I won the WaMaC conference student choice award for my self-portrait charcoal drawing. In 2017, I was awarded first place at Mount Vernon’s Chalk the Walk art festival for my Chicago Cubs piece. I was the festival’s featured artist the following year. I have done multiple large-scale murals and logo paintings for homes and businesses around Eastern Iowa. I continue to do customized artwork upon request. My artwork primarily consists of mediums such as chalk, charcoal, graphite, and acrylic paint.
        <br/><br/>
        &emsp;Thank you for taking the time to view my art portfolio.
    </p>
</div>