<div id="change-password">
    <h1>Change Password</h1>
    {{#if updated}}
        <p>Password was successfully updated!</p>
    {{/if}}
    {{#if nonmatch}}
        <p style="color: red;">Password fields do not match</p>
    {{/if}}
    <form action="manage/change-password" method="POST" enctype="multipart/form-data">
        <label for="firstpass">Enter a new password:</label>
        <input id="firstpass" name="firstpass" type="password">
        <label for="secondpass">Re-enter the new password:</label>
        <input id="secondpass" name="secondpass" type="password">
        <input type="submit" value="Submit">
    </form>
</div>