<style>
    body {
        height: 100%;
        overflow: hidden;
    }
</style>
<div id="homepage">
    <div id="logo">
        <br/>
        <h1>BDC</h1>
        <p>Artwork</p>
    </div>
    <div class="col">
        <img src="images/chalk1.png" class="img-responsive"/>
        <img src="images/horse2.jpg" class="img-responsive"/>
        <img src="images/dog.jpg" class="img-responsive"/>
    </div>
    <div class="col">
        <img src="images/dubuque.jpg" class="img-responsive"/>
        <img src="images/guitar.jpg" class="img-responsive"/>
        <img src="images/elephants.jpg" class="img-responsive"/>
        <img src="images/books.jpg" class="img-responsive"/>
    </div>
    <div class="col">
        <img src="images/Hector.jpg" class="img-responsive"/>
        <img src="images/chalk2.jpg" class="img-responsive"/>
        <img src="images/football1.png" class="img-responsive"/>
    </div>
    <div class="colM">
        <img src="images/chalk1.png" class="img-responsive"/>
        <img src="images/horse2.jpg" class="img-responsive"/>
        <img src="images/guitar.jpg" class="img-responsive"/>
        <img src="images/books.jpg" class="img-responsive"/>
    </div>
    <div class="colM">
        <img src="images/dubuque.jpg" class="img-responsive"/>
        <img src="images/Hector.jpg" class="img-responsive"/>
        <img src="images/chalk2.jpg" class="img-responsive"/>
        <img src="images/football1.png" class="img-responsive"/>
    </div>
</div>