<div id="manage-page">
    <h1>Manage Portfolio</h1>
    <ul>
        <li><a href="/manage/upload">Upload</a></li>
        <li><a href="/manage/delete">Delete</a></li>
        <li><a href="/manage/change-password">Change Password</a></li>
    </ul>
</div>