<div id="mediapage">
    <p>I am best known for my chalk illustrations.<br/>
        Provided below are links to articles, videos, and pictures related to my work:</p>

    <iframe allowfullscreen="true" src="https://www.youtube.com/embed/IRrRGB06dSc"></iframe><br/>
    <a href="http://cbs2iowa.com/news/local/chalk-the-walk-announces-their-first-place-artist">Chalk the Walk announces its first place artist</a><br/>
    <a href="https://www.landof10.com/iowa/iowa-football-kinnick-wave-chalk-drawing">Iowa fan draws Kinnick Wave at Chalk the Walk event</a><br/>
    <a href="http://www.thegazette.com/subject/life/rock-the-chalk-underway-in-iowa-city-20170811">Rock the Chalk underway in Iowa City</a>
</div>