<div id="portfoliopage">
    <a href="/portfolio/charcoal"><div class="imgheader" id="charcoal"><p>Charcoal</p></div></a>
    <a href="/portfolio/graphite"><div class="imgheader" id="graphite"><p>Graphite</p></div></a>
    <a href="/portfolio/acrylic"><div class="imgheader" id="acrylic"><p>Acrylic</p></div></a>
    <a href="/portfolio/mural"><div class="imgheader" id="mural"><p>Mural</p></div></a>
    <a href="/portfolio/chalk"><div class="imgheader" id="chalk"><p>Chalk</p></div></a>
    <a href="/portfolio/mixed_media"><div class="imgheader" id="mixedmedia"><p>Mixed Media</p></div></a>
    <a href="/portfolio/marker"><div class="imgheader" id="marker"><p>Marker</p></div></a>
    <a href="/portfolio/misc"><div class="imgheader" id="misc"><p>Misc</p></div></a>
</div>